<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.storage.menu.dao.HmenuMapper" >
  <resultMap id="BaseResultMap" type="com.example.storage.menu.entityBean.Hmenu" >
    <id column="h_id" property="hId" jdbcType="INTEGER" />
    <result column="h_pid" property="hPid" jdbcType="INTEGER" />
    <result column="h_name" property="hName" jdbcType="VARCHAR" />
    <result column="h_status" property="hStatus" jdbcType="INTEGER" />
    <result column="h_deleted" property="hDeleted" jdbcType="INTEGER" />
    <result column="h_url" property="hUrl" jdbcType="VARCHAR" />
    <result column="h_target" property="hTarget" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    h_id, h_pid, h_name, h_status, h_deleted, h_url, h_target
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from h_menu
    where h_id = #{hId,jdbcType=INTEGER}
  </select>
  <select id="getMenuAll" resultMap="BaseResultMap"  >
  select
  h_id, h_pid, h_name, h_status, h_deleted, h_url, h_target
  from h_menu
  where h_deleted = #{dele}
</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from h_menu
    where h_id = #{hId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.storage.menu.entityBean.Hmenu" >
    insert into h_menu (h_id, h_pid, h_name, 
      h_status, h_deleted, h_url, 
      h_target)
    values (#{hId,jdbcType=INTEGER}, #{hPid,jdbcType=INTEGER}, #{hName,jdbcType=VARCHAR}, 
      #{hStatus,jdbcType=INTEGER}, #{hDeleted,jdbcType=INTEGER}, #{hUrl,jdbcType=VARCHAR}, 
      #{hTarget,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.storage.menu.entityBean.Hmenu" >
    insert into h_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hId != null" >
        h_id,
      </if>
      <if test="hPid != null" >
        h_pid,
      </if>
      <if test="hName != null" >
        h_name,
      </if>
      <if test="hStatus != null" >
        h_status,
      </if>
      <if test="hDeleted != null" >
        h_deleted,
      </if>
      <if test="hUrl != null" >
        h_url,
      </if>
      <if test="hTarget != null" >
        h_target,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hId != null" >
        #{hId,jdbcType=INTEGER},
      </if>
      <if test="hPid != null" >
        #{hPid,jdbcType=INTEGER},
      </if>
      <if test="hName != null" >
        #{hName,jdbcType=VARCHAR},
      </if>
      <if test="hStatus != null" >
        #{hStatus,jdbcType=INTEGER},
      </if>
      <if test="hDeleted != null" >
        #{hDeleted,jdbcType=INTEGER},
      </if>
      <if test="hUrl != null" >
        #{hUrl,jdbcType=VARCHAR},
      </if>
      <if test="hTarget != null" >
        #{hTarget,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.storage.menu.entityBean.Hmenu" >
    update h_menu
    <set >
      <if test="hPid != null" >
        h_pid = #{hPid,jdbcType=INTEGER},
      </if>
      <if test="hName != null" >
        h_name = #{hName,jdbcType=VARCHAR},
      </if>
      <if test="hStatus != null" >
        h_status = #{hStatus,jdbcType=INTEGER},
      </if>
      <if test="hDeleted != null" >
        h_deleted = #{hDeleted,jdbcType=INTEGER},
      </if>
      <if test="hUrl != null" >
        h_url = #{hUrl,jdbcType=VARCHAR},
      </if>
      <if test="hTarget != null" >
        h_target = #{hTarget,jdbcType=VARCHAR},
      </if>
    </set>
    where h_id = #{hId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.storage.menu.entityBean.Hmenu" >
    update h_menu
    set h_pid = #{hPid,jdbcType=INTEGER},
      h_name = #{hName,jdbcType=VARCHAR},
      h_status = #{hStatus,jdbcType=INTEGER},
      h_deleted = #{hDeleted,jdbcType=INTEGER},
      h_url = #{hUrl,jdbcType=VARCHAR},
      h_target = #{hTarget,jdbcType=VARCHAR}
    where h_id = #{hId,jdbcType=INTEGER}
  </update>
</mapper>