<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
    <script src="../../jquery-3.4.1.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.js"></script>
        <script style="" src="../../menu/menuSetting.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table table-hover">
                    <caption>悬停表格布局</caption>
                    <thead>
                        <tr>
                            <th>菜单</th>
                            <th>url</th>
                            <th>状态 </th>
                            <th>操作 </th>
                        </tr>
                    </thead>
                    <tbody id="bodId">

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</body>
</html>