<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
    <script src="../../jquery-3.4.1.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.js"></script>
    <script src="../../home/home.js"></script>
</head>
<body style="width: 100%;background-image: url('../../img/code_by_rasmusir-d4a4dj2.jpg')">
<div class="container">
    <div class="row clearfix" >
        <div class="col-md-12 column" style="height: 35%;width: 100%">


        </div>
    </div>
    <div class="row clearfix" >
        <div class="col-md-4 column"style="height: 65%;width: 25%">
            <ul class="list-group" id="ulId">

            </ul>
        </div>
        <div class="col-md-8 column"style="height: 65%;width: 75%">
        </div>
    </div>
</div>
</body>
</html>