<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../time/clock.css">

    <!--    -->

</head>
<script src="../../jquery-3.4.1.min.js"></script>
<script src="../../bootstrap/js/bootstrap.js"></script>
<script src="../../home/home.js"></script>
<script src="../../time/clock.js"></script>
<body style="background-image: url(../../img/bacimg.jpg)">
<div class="container-fluid">
    <div class="row clearfix" >
        <div class="col-md-12 column" style="height: 12%;">
            <h1 class="text-center text-info">
                 这是一套属于你自己的系统
            </h1>
        </div>
    </div>
    <div class="row clearfix" >
        <div class="col-md-4 column"style="height: 770px;width :15%;background-color: EFEFEF;">
            <ul class="list-group" id="ulId">
            </ul>
        </div>
        <div class="col-md-8 column"style="height: 770px;width: 85%;background-image: url(../../img/tiimg.gif)" id="rId">
            <ul class="clock" id="helang-clock">
                <li class="copyright"><!--时钟罗盘--></li>
                <hr>
            </ul>
        </div>
    </div>
</div>
</body>
</html>